.container {
    width: 100%;
    font-family: ('Roboto', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif)
}

.container .title {
    margin-top: 5px;
    margin-bottom: 0;
}

.row.loading {
    text-align: center;
}

.pagination {
    margin-bottom: 0;
}
.pagination > li > span {
    border: none;
    font-size: 12px;
    cursor: pointer;
}
.total {
    width: 100%; 
    height: 20px; 
    border-bottom: 1px solid black; 
    text-align: center;
}

.total span {
    font-size: 40px;
    background-color: #F3F5F6;
    padding: 0 10px;
}

.title { text-align: center }

.hr-text {
  line-height: 1em;
  position: relative;
  outline: 0;
  border: 0;
  color: black;
  text-align: center;
  height: 1.5em;
  opacity: .5;
  margin-top: -10px;
}

.hr-text:before {
    content: '';
    background: linear-gradient(to right, transparent, #818078, transparent);
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
}

.hr-text:after {
    content: attr(data-content);
    position: relative;
    display: inline-block;
    color: black;

    padding: 0 .5em;
    line-height: 1.5em;
    color: #818078;
    background-color: #fcfcfa;
}

select.sortby.pull-right {
    width: 140px;
    margin-top: 30px;
}

.product-container {
    padding: 0 10px;
}
.product p.brand {
    font-weight: 700;
    margin:0;
}
.product p.name {
    margin: -5px;
}
.product span.price {
    color: green;
    margin-top: -5px;
}

.product {
    padding: 5px;
    font-size: 10px;
    height: 250px;
}

.product img {
    width: 100%;
    max-width: 120px;
    text-align: center;
}
.product .descripcion {
    text-align: center;
}


@media (min-width:740px){
    .product {
        padding: 10px;
        height: 400px;
    }

    .product img {
        max-width: 220px;
    }
}
@media (min-width:992px){
    .product {
        padding: 0 20px 10px;
        margin-bottom: 10px;
        height: 300px;
    }

    .product img {
        width: 150px;
    }

    .product .descripcion {
        font-size: 14px;
    }
}

.image {
    text-align: center;
}

.filter-panel {
    padding-left: 20px;
}
.form-filter {
    border-top: 1px solid #000000;
}